#agency {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("https://images.squarespace-cdn.com/content/v1/6141e47915a415388c4430bb/c1081b9e-2706-4494-bddc-df2215aaf7ea/Neighbourhood-Coffee-Cafe-Belfast");
  background-size: cover;
  background-position: center;
  position: relative;
  .agency_content {
    position: absolute;
    bottom: 100px;
    left: 80px;

    h1 {
      font-size: 4rem;
      color: #ffffff;
      letter-spacing: -0.035em;
    }
    p {
      margin: 1.25rem 0;
      padding: 0;
      font-size: 1.05em;
      // max-width: 60%;

      color: rgba(255, 255, 255, 0.7);
    }
    a {
      background-color: #d90a2c;
      color: #fff;
      padding: 10px;
      margin-top: 1.55rem;
      font-size: 0.9em;
      border: 2px solid transparent;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      line-height: 1.5rem;
      letter-spacing: -0.01em;
      border-radius: 5px;
    }
  }
}
